{{#each data}}
<div class="py-4">
    <a class="text-decoration-none" href="?request={{type}}/{{id}}">
        <h1 class="text-black">{{name}}</h1>
        <div class="text-black-50 text-justify">{{summary}}</div>
    </a>
</div>
{{/each}}